{% include 'comments/comment.html' %}
<div class="comment-form-warp">
    <h4 class="comment-title">Leave Your Comment</h4>
    <form class="comment-form" method="POST" action="{% url 'comment:form' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                {{form.author}}
            </div>
            <div class="col-lg-9">
                {{form.content}}
                <button class="site-btn" type="submit" formmethod="post">SEND COMMENT</button>
            </div>
        </div>
    </form>
</div>